@charset "utf-8";

/* up, down, left, right, transform1, transform2の共通設定（待機中の設定） */
.up, .down, .left, .right, .transform1, .transform2 {
    position: relative;
    opacity: 0;  /* 透明度（透明の状態） */
}

/* up, down, left, right, transform1, transform2の共通設定（要素が見えたら実行するアクションの設定） */
.upstyle, .downstyle, .leftstyle, .rightstyle, .transform1style, .transform2style {
    opacity: 1;  /* 透明度（色が100%出た状態） */
    transition: 1s 0.5s;  /* 1sはアニメーションの実行時間、0.5秒遅れてスタートする指定 */
}

/* upスタイル。下から上にフェードインしてくるスタイル */
.up {
    bottom: -20px;  /* 基準値の下20pxの場所からスタート */
}

.upstyle {
    bottom: 0px;  /* 基準値まで戻す */
}

/* downスタイル。上から下にフェードインしてくるスタイル */
.down {
    top: -20px;  /* 基準値の上20pxの場所からスタート */
}

.downstyle {
    top: 0px;  /* 基準値まで戻す */
}

/* leftスタイル。左からフェードインしてくるスタイル */
.left {
    left: -20px;  /* 基準値より左に20pxの場所からスタート */
}

.leftstyle {
    left: 0px;  /* 基準値まで戻す */
}

/* rightスタイル。右からフェードインしてくるスタイル */
.right {
    right: -20px;  /* 基準値より右に20pxの場所からスタート */
}

.rightstyle {
    right: 0px;  /* 基準値まで戻す */
}

/* transform1スタイル。その場で回転するスタイル */
.transform1 {
    transform: scaleX(0);  /* 幅を0%でスタート */
}

.transform1style {
    transform: scaleX(1);  /* 幅を100%に戻す */
}

/* transform2スタイル。倒れた状態から起き上がるスタイル */
.transform2 {
    transform: perspective(400px) translateZ(-70px) rotateX(50deg);
}

.transform2style {
    transform: perspective(400px) translateZ(0px) rotateX(0deg);
}

/* blurスタイル。ぼかしで出現するスタイル */
.blur {
    opacity: 0;  /* 要素が最初は透明 */
    filter: blur(5px);  /* 最初はぼかしがかかっている */
    transition: opacity 1s, filter 1s;
}

.blurstyle {
    opacity: 1;  /* 不透明にして表示 */
    filter: blur(0);  /* ぼかしをなくす */
}

/* transform3スタイル。小さなサイズから原寸大になるスタイル */
@keyframes transform3 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.99);
    }
    100% {
        transform: scale(1);
    }
}

.transform3 {
    transform: scale(0);
}

.transform3style {
    animation: transform3 0.8s ease-out 0.5s both;
}

.cracker {
    position: relative;
    /* 必要に応じてアニメーションや装飾のスタイルをここに追加 */
}

/* クラッカーアニメーション */
.crackerstyle img {
    width: 150px;  /* 各クラッカーの幅 */
    position: absolute;
    bottom: 0px;
    z-index: 1000;  /* 高い値を指定して前面に表示 */
}

.crackerstyle img:nth-of-type(1) {
    left: 0px;
    z-index: 1000;  /* 高い値を指定 */
}

.crackerstyle img:nth-of-type(2) {
    right: 0px;
    transform: scale(-1, 1);  /* 画像を左右逆向きにする */
    z-index: 1000;  /* 高い値を指定 */
}

/* メディアクエリ */
@media screen and (min-width: 600px) {
    .crackerstyle img {
        width: 200px;  /* 各クラッカーの幅 */
    }
}

@media screen and (min-width: 900px) {
    .crackerstyle img {
        width: 300px;  /* 各クラッカーの幅 */
    }
}
